    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="">Inicio</a>
    </li>
    {% if user.id is not None %}
    <li class="nav-item">
        <a class="nav-link" href="#">Cambiar contraseña</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'carrito' %}"> Carrito </a>
    </li>Opciones
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'categorias' %}">Categorias</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Salir </a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'registro' %}"">Registrarse </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Ingresar </a>
    </li>
    {% endif %}
</ul>
