{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkShop Django</title>
    <link rel="icon" href="{% static 'img/carrito.ico' %}">  <!--imagen del carrito en la pestaña del navegador -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/botones.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/controlador.js' %}"></script>
    <script src="https://kit.fontawesome.com/5ce7f788b8.js" crossorigin="anonymous"></script><!-- script para utilizar iconos de favicon -->
    

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="contenedor col-12 col-md-8 offset-md-2">
                {% include 'includes/head.html' %}
                {% include 'includes/nav.html' %}

                <div class="contenido">
                    {% block content %}

                    {% endblock %}
                </div>
                {% include 'includes/footer.html' %}
            </div>
        </div>
    </div>
</body>

</html>